
<!-- <nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><img src="../../assets/mahakaleshwar/logo.png" height="60px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
         
          <a class="nav-link active " aria-current="page" routerLink="" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
 -->
<!--  
 <div class="container-fluid" style="background-color:#4486c4; ">
  <div class="container">
<div class="row g-0">
                
                <div class="col-md-4">
                  <i class="fa fa-envelope"></i>&nbsp;
                  <span>info@scenic.site</span>
                </div>
                <div class="col-md-4 offset-md-4" style="position: relative; left: 100px;">
                 <a href="https://www.facebook.com/"> <i   class="fa fa-facebook text-dark"></i></a>&nbsp;&nbsp;
                 <a href="https://www.youtube.com/">  <i   class="fa fa-youtube text-dark"></i> </a>&nbsp;&nbsp;
                 <a href="https://twitter.com/">      <i   class="fa fa-twitter text-dark"></i> </a>&nbsp;&nbsp;
                  
                  
                </div>
               
              </div>
            </div>
              
</div>
  -->
<br><br><br>

<div class="fixed-top">
  <header class="topbar">
      <div class="container">
        <div class="row">
          <!-- social icon-->
          <div class="col-sm-6">
            
           <p style="font-size: 16px; position: relative; top: 7px;">info@scenic.site </p>
          
          </div>
          <div class="col-sm-6">
            <ul class="social-network">
              <li><a class="waves-effect waves-dark " href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
  </header>
  <!-- <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a class="navbar-brand" rel="nofollow" target="_blank" href="http://scadonsak.com/7bF" style="text-transform: uppercase;"> NUSASATU.COM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item active">
            <a class="nav-link" href="https://nusasatu.com">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>

         <li class="nav-item">
            <a class="nav-link" href="#">Fruits</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Sea food</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Vegetables</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div> -->
 <!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top "> -->
  <div class="container">
    <a class="navbar-brand" routerLink=""><img src="{{imgURl}}/{{18}}.jpg"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" style="font-weight: bolder; color: gray;" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-weight: bolder; color: gray;" routerLink="">Holiday</a>
        </li>

      
        <li class="nav-item">
          <a class="nav-link" style="font-weight: bolder; color: gray;" routerLink="/contact">Contact</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>



<!-- Page Content -->
<!-- <section class="py-5">
  <div class="container">
    <h1 class="fw-light">Full Page Image Slider</h1>
    <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images
      in this snippet are from <a href="https://unsplash.com">Unsplash</a>, taken by <a href="https://unsplash.com/@joannakosinska">Joanna Kosinska</a>!</p>
  </div>
</section> -->

<!-- <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div> -->
