<!-- <nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><img src="../../assets/mahakaleshwar/logo.png" height="60px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
         
          <a class="nav-link active " aria-current="page" routerLink="" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
 -->
 
 <div class="container-fluid" style="background-color:#4486c4; ">
  
<div class="row" style="position: relative; left: 110px;">
                <div class="col-sm-4  mu-top-email">
                  <i class="fa fa-envelope"></i>
                  <span>info@scenic.site</span>
                </div>
                <div class="col-sm-4 ">
                  <i class=""></i>
                  <span></span>
                </div>
                <div class="col-sm-4" style="position: relative; left: 210px;">
                 <a href="https://www.facebook.com/"> <i   class="fa fa-facebook text-dark"></i></a>&nbsp;
                 <a href="https://www.youtube.com/">  <i   class="fa fa-youtube text-dark"></i> </a>&nbsp;
                 <a href="https://twitter.com/">      <i   class="fa fa-twitter text-dark"></i> </a>&nbsp;
                  <!-- <i href="#" class="fa fa-"></i> &nbsp; -->
                  
                </div>
               <!-- <div class="mu-top-phone">
                   <i class="fa fa-phone"></i>
                  <span>(568) 986 652</span> 
                </div>-->
              </div>
              
              
</div>
 

 <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top scroller">
  <div class="container">
    <a class="navbar-brand" routerLink=""><img src="../../assets/mahakaleshwar/logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" style="font-weight: bolder;" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-weight: bolder;" routerLink="">Holiday</a>
        </li>

      
        <li class="nav-item">
          <a class="nav-link" style="font-weight: bolder;" routerLink="/contact">Contact</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>



<!-- Page Content -->
<!-- <section class="py-5">
  <div class="container">
    <h1 class="fw-light">Full Page Image Slider</h1>
    <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images
      in this snippet are from <a href="https://unsplash.com">Unsplash</a>, taken by <a href="https://unsplash.com/@joannakosinska">Joanna Kosinska</a>!</p>
  </div>
</section> -->

<!-- <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div> -->
