

<section class="text-center container">
        <h4 class="mb-5" style="color:#084D8E; position: relative; top: 20px;"><strong> <span style="color: #FF6C26;">PLACE </span></strong></h4>
    
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" 
               style="
        background-image: url('../../assets/Cloud/chardham-1.png');
        height: 230px; 
      "
              data-mdb-ripple-color="light">
    
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
                
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Rishikesh</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Rishikesh">Details</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="../../assets/Cloud/manali.jpg"  
                  class="img-fluid"
                />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;"> Manali</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Manali">Details</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" 
               style="
        background-image: url('../../assets/Cloud/musoorie.jpg');
        height: 230px;
      "
              data-mdb-ripple-color="light">
    
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
               
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Mussoorie</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Mussoorie">Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" 
               style="
        background-image: url('../../assets/Cloud/nanital.jpg');
        height: 230px;
      "
              data-mdb-ripple-color="light">
    
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
                
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Nainital</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Nainital">Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" 
               style="
        background-image: url('../../assets/Cloud/chopta.jpg');
        height: 230px;
      "
              data-mdb-ripple-color="light">
    
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
               
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Chopta</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Chopta">Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" 
               style="
        background-image: url('../../assets/mahakaleshwar/leh-6.png');
        height: 230px;
      "
              data-mdb-ripple-color="light">
    
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
               
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Leh Ladakh</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/domestic-details/leh-Ladakh">Details</a>
              </div>
            </div>
          </div>
        </div>
      </section>