<div class="container">
  <h3>{{name}}</h3>

  <h4 >How to reach</h4>
<ul *ngFor="let item of howtoreach; index as i;">
  <li>{{item}} </li>
</ul>

 <h4>Best Time To Visit</h4>  
 <ul *ngFor="let item of besttimetovisit; index as i;">
<li>{{item}} </li></ul>
  <h4>Attraction</h4>
  <ul *ngFor="let item of attraction; index as i">
    <li>{{item}}</li>
  </ul>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
  <!-- <h3>Youtube</h3> -->
  <div class="col-lg-12"> 
  <span><img src="{{imgURl}}/{{25}}.jpg" width="180px" height="35px"/></span><br><br>
</div>
<iframe width="340" height="315" src="https://www.youtube.com/embed/frWJIoilV6o?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- <a href="{{youtube}}">  {{youtube}} </a> -->
</div>
<div class="col-lg-4 col-md-6 mb-4">
  <!-- <h3>Youtube</h3> -->
  <span><h6 width="180px" height="40px"> </h6></span><br><br>
  <!-- <iframe width="340" height="315"  src="https://www.youtube.com/embed/frWJIoilV6o?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  <iframe width="340" height="315" src="https://www.youtube.com/embed/yul2DTIRLGY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <!-- <a href="{{youtube}}">  {{youtube}} </a> -->
</div><div class="col-lg-4 col-md-6 mb-4">
  <!-- <h3>Youtube</h3> -->
  <span><h6 width="180px" height="40px"> </h6></span><br><br>
  <!-- <iframe width="340" height="315" src="https://www.youtube.com/embed/frWJIoilV6o?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  <iframe width="340" height="315" src="https://www.youtube.com/embed/lYT1SDbWC70" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <!-- <a href="{{youtube}}">  {{youtube}} </a> -->
</div>
</div>
</div>

<section class="text-center container">
        <h4 class="mb-5" style="color:#084D8E; position: relative; top: 20px;"><strong> <span style="color: #FF6C26;">Other places </span></strong></h4>
    
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple"  data-mdb-ripple-color="light">
    <img src="{{imgURl}}/{{6}}.jpg"/>
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
                
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Rishikesh</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Rishikesh">Details</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="{{imgURl}}/{{13}}.jpg"  
                  class="img-fluid"
                />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;"> Manali</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Manali">Details</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple"    data-mdb-ripple-color="light">
    <img src="{{imgURl}}/{{14}}.jpg"/>
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
               
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Mussoorie</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Mussoorie">Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple"   data-mdb-ripple-color="light">
    <img src="{{imgURl}}/{{15}}.jpg"/>
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
                
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Nainital</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Nainital">Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple"   data-mdb-ripple-color="light">
    <img src="{{imgURl}}/{{16}}.jpg"/>
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
               
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Chopta</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Chopta">Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple"   data-mdb-ripple-color="light">
    <img src="{{imgURl}}/{{17}}.jpg"/>
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
               
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Auli</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Auli">Details</a>
              </div>
            </div>
          </div>
        </div>
      </section>