<div class="container">
  <h3>{{name}}</h3>

  <h3 >How to reach</h3>
<ul *ngFor="let item of howtoreach; index as i;">
  <li>{{item}} </li>
</ul>

 <h3>Best Time To Visit</h3>  
 <ul *ngFor="let item of besttimetovisit; index as i;">
<li>{{item}} </li></ul>
  <h3>Attraction</h3>

</div>

<section class="text-center container">
        <h4 class="mb-5" style="color:#084D8E; position: relative; top: 20px;"><strong> <span style="color: #FF6C26;">Other places </span></strong></h4>
    
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple"  data-mdb-ripple-color="light">
    <img src="{{imgURl}}/{{6}}.jpg"/>
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
                
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Rishikesh</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Rishikesh">Details</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="{{imgURl}}/{{13}}.jpg"  
                  class="img-fluid"
                />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;"> Manali</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Manali">Details</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple"    data-mdb-ripple-color="light">
    <img src="{{imgURl}}/{{14}}.jpg"/>
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
               
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Mussoorie</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Mussoorie">Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple"   data-mdb-ripple-color="light">
    <img src="{{imgURl}}/{{15}}.jpg"/>
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
                
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Nainital</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Nainital">Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple"   data-mdb-ripple-color="light">
    <img src="{{imgURl}}/{{16}}.jpg"/>
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
               
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Chopta</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Chopta">Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple"   data-mdb-ripple-color="light">
    <img src="{{imgURl}}/{{17}}.jpg"/>
              <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
               
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title" style="color:#084D8E;">Auli</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a  class="btn btn-primary" routerLink="/Places/Auli">Details</a>
              </div>
            </div>
          </div>
        </div>
      </section>