<div class="container">
    <p style="padding-top: 60px;"></p>
</div>
<section class="text-center container">
    <h4 class="mb-5" style="color:#084D8E; position: relative; top: 20px;"><strong>INTERNATIONAL <span style="color: #FF6C26;">TOUR </span>PACKAGE</strong></h4>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img
            src="../../assets/mahakaleshwar/tour-3.jpg" 
            class="img-fluid"
          />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title" style="color: #084D8E;">USA</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a  class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img
              src="../../assets/mahakaleshwar/tour-1.png"  
              class="img-fluid"
            />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title" style="color:#084D8E;"> International Tour</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a  class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" 
           style="
    background-image: url('../../assets/mahakaleshwar/tour-2.jpg');
    height: 230px;
  "
          data-mdb-ripple-color="light">

          <span style="color: whitesmoke; position: relative; top: 50px; text-align: center; font-size: 30px;"></span>
            <!-- <img
              src="../../assets/buddha imperial/1.png"
              class="img-fluid"
            /> -->
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title" style="color:#084D8E;">Thailand</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the
              card's content.
            </p>
            <a  class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container text-center">
      <button class="btn btn-primary" routerLink="/International-package" ><i class="fa fa-eye" aria-hidden="true">View All package</i></button>
  </div>